#id$
{{object.id}}
#checkbox$
<input type="checkbox" class="hp-check">
#title$
{{ record.get('title', {}).get('main', "No title") }}
#source$
{{ extra_data.get('source', "No source") }}
#category$
{{ ", ".join(categories) or "No category" }}
#pretty_date$
{{ pretty_date(object.created)}}
#version$
{% if object.version == 1 %}<span class="label label-success">Completed</span>
{% elif object.version == 2 %}<span class="label label-warning">Halted</span>
{% else %}<span class="label label-info">Running</span>
{% endif %}
#details$
{% if widget == None %}
	<a href="{{url_for('holdingpen.details', objectid=object.id)}}">Details</a>
{% else %}
{% set widget_instance = widget() %}
	<a href="{{url_for('holdingpen.show_widget', objectid=object.id)}}">Details</a>
{% endif %}
#widget$
{% if widget != None %}
	{% set widget = widget() %}
	{% if mini_widget != None %}
		{% set mini_widget = mini_widget() %}
		{% for field in mini_widget %}
	    	{{ field }}
		{% endfor %}
	{% endif %}
{% else %}
N/A
{% endif %}